.about {
  background-color: #e3e3e3;
  border: 1px dashed grey;
  padding: 10px;
  border-radius: 5px;
}

.row {
  padding: 5px;
}

h3 {
  color: black;
  font-size: 1.7em;
  font-weight: bold;
  font-style: italic;
  background-color: lightgrey;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}


h2 {
  color: brown;
  font-size: 2.5em;
  font-weight: bold;
}

div {
  font-weight: bold;
}
